<!DOCTYPE html>
<html>
  <head>
    <title>AreWeThereYet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css"/>
    <script src="https://js.arcgis.com/3.22/"></script>
     <link rel="stylesheet" href="https://js.arcgis.com/3.22/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.22/esri/css/esri.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class="container-fluid">
      <% if current_user %>
        <nav class="nav">
          <%= link_to root_path, class: "nav-link" do %>
            <%= inline_svg "logo.svg", class: 'logo' %>
          <% end %>
          <%= link_to new_route_path, class: "nav-link" do %>
            <%= fa_icon "plus" %>
          <% end %>
          <%= link_to settings_path, class: "nav-link" do %>
            <%= fa_icon "cog" %>
          <% end %>
        </nav>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
